code {
	font-family: 'Source Code Pro', monospace;
	font-size: 18px;
	border: 1px solid white;
	color: white;
	background: #14181d;
	width: 90%;
	height: auto;
	margin:  10px auto;
	padding:  1%;
	display: block;	
	white-space: pre;
	-webkit-overflow-scrolling: touch;
	overflow-x: scroll;	
	border-radius: 5px;
}

p {
	margin: 20px 0;
}

#image p {	
	display: flex;
	align-items: center;
	justify-content: center;	
}

img {
	border-radius: 5px;
}

