.reactMarkDown code {
    font-family: 'Source Code Pro', monospace;
    font-size: 18px;
    border: 1px solid white;
    color: white;
    background: #14181d;
    width: 90%;
    height: auto;
    margin:  10px auto;
    padding:  1%;
    display: block;	
    white-space: pre;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;	
    border-radius: 5px;
}

.reactMarkDown p {
    margin: 20px 0 !important;
}

.reactMarkDown #image p {	
    display: flex;
    align-items: center;
    justify-content: center;	
    margin: 0;
    width: 350px;
}

.reactMarkDown img {
    border-radius: 5px;    
    width: 350px;
    height: 350px;
}

.reactMarkDown #image {
    width: 350px;
    display: inline;    
}